<div class="row justyfy-content-center">
  <div class="col-12 col-md-7">
    <h1><%= t('.header') %></h1>
    <%= link_to t('.new_badge'), new_admin_badge_path %>
    <table class="table table-hover">
      <thead>
        <tr>
          <td><%= t('.badge_image') %></td>
          <td><%= t('.badge_title') %></td>
          <td collspan="3"><%= t('.actions') %></td>
        </tr>
      </thead>
      <tbody>
        <%= render @badges %>
      </tbody>
    </table>
  </div>
</div>