<h1><%= @test_passage.test.title %> <%= @test_passage.success? ? 'passed' : 'failed' %></h1>
<p>Percent of right answers: <span style="color:<%= @test_passage.success? ? 'green' : 'red' %>"><%= @test_passage.result %>%</span></p>

<%= link_to 'Список тестов', root_path %>