<h1><%= t('.header') %></h1>
<h2><%= @test.title %></h2>
<h1><%= t('.questions_header') %></h1>
<%= link_to t('.create_question'), new_admin_test_question_path(@test) %>
<table>
  <thead>
    <tr>
      <td><%= t('.question_body') %></td>
      <td colspan='3' ><%= t('.question_actions') %></td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'admin/questions/question', collection: @questions %>
  </tbody>
</table>
<%= link_to t('.edit_test'), edit_admin_test_path(@test) %>
<%= render 'shared/back', path: admin_tests_path %>