<h1>Test:</h1>
<h2><%= @test.title %></h2>
<h1>Questions:</h1>
<%= link_to 'Create question', new_test_question_path(@test) %>
<table>
  <thead>
    <tr>
      <td>Текст вопроса</td>
      <td colspan='3' >Действие над вопросом</td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'questions/question', collection: @questions %>
  </tbody>
</table>
<%= link_to "Edit test", edit_admin_test_path(@test) %>
<%= link_to "Back", admin_tests_path %>