<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= questions_count(test) %></td>
  <td>
    <% if user_signed_in? %>
      <%= button_to 'Start', start_test_path(test) %>
    <% else %>
      <%= link_to 'Log In', new_user_session_path %>
    <% end %>
  </td>
</tr>