<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= questions_count(test) %></td>
  <td>
    <% if user_signed_in? %>
      <%= link_to t('.start'), start_test_path(test), method: :post %>
    <% else %>
      <%= link_to t('.login'), new_user_session_path %>
    <% end %>
  </td>
</tr>