<%= link_to "TestGuru", root_path %>

<nav>
  <p class='nav user'>
    <% if logged_in? %>
      Welcome, <b><%= current_user.email %> Guru</b> | <%= link_to "Log out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %> | <%= link_to "Log In", login_path %>
    <% end %>
  <p>
</nav>